<mat-card class="bottom-sheet">
  <div class="container">
      <mat-card-header class="bottom-sheet-header">
          <mat-card-title>
              <h2>Completed Training Detail</h2>
          </mat-card-title>
      </mat-card-header>
      <form [formGroup]="trainingForm">
          <div class="row">
              <mat-form-field>
                  <mat-label>Tech Name</mat-label>
                  <input matInput formControlName="techName" [(ngModel)]="techName">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input matInput formControlName="startDate" [(ngModel)]="startDate">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input matInput formControlName="endDate" [(ngModel)]="endDate">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Student Name</mat-label>
                  <input matInput formControlName="studentName" [(ngModel)]="studentName">
              </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
                <mat-label>Mentor Name</mat-label>
                <input matInput formControlName="mentorName" [(ngModel)]="mentorName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" [(ngModel)]="price">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Current Percent</mat-label>
                <input matInput formControlName="currentPercent" [(ngModel)]="currentPercent">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Current Price</mat-label>
                <input matInput formControlName="currentPrice" [(ngModel)]="currentPrice">
            </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
              <mat-label>Rate</mat-label>
              <input matInput formControlName="rate" [(ngModel)]="rate">
          </mat-form-field>
        </div>
          <div class="row">
            <mat-action-row class="text-center">
              <button (click)="goUpdate()" mat-raised-button name="update" value="update"
                  type="button">
                  Update
              </button>
            </mat-action-row>
            <mat-action-row class="text-center">
                <button (click)="goBack()" mat-raised-button name="back" value="back"
                    type="button">
                    Back
                </button>
              </mat-action-row>
          </div>
      </form>
  </div>

</mat-card>