<mat-card class="bottom-sheet">
  <div class="container">
      <mat-card-header class="bottom-sheet-header">
          <mat-card-title>
              <h2>Technologies Detail</h2>
          </mat-card-title>
      </mat-card-header>
      <form [formGroup]="technologiesForm">
          <div class="row">
              <mat-form-field>
                  <mat-label>Tech ID</mat-label>
                  <input matInput formControlName="techId" [(ngModel)]="techId">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Tech Name</mat-label>
                  <input matInput formControlName="techName" [(ngModel)]="techName">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Type</mat-label>
                  <input matInput formControlName="type" [(ngModel)]="type">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Active</mat-label>
                  <input matInput formControlName="active" [(ngModel)]="active">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field>
                  <mat-label>Price</mat-label>
                  <input matInput formControlName="price" [(ngModel)]="price">
              </mat-form-field>
          </div>
          <div class="row">
            <mat-action-row class="text-center">
              <button (click)="goAdd()" mat-raised-button name="add" value="add"
                  type="button">
                  Add
              </button>
            </mat-action-row>
            <mat-action-row class="text-center">
              <button (click)="goUpdate()" mat-raised-button name="update" value="update"
                  type="button">
                  Update
              </button>
            </mat-action-row>
            <mat-action-row class="text-center">
              <button (click)="goDelete()" mat-raised-button name="delete" value="delete"
                  type="button">
                  Delete
              </button>
            </mat-action-row>
            <mat-action-row class="text-center">
                <button (click)="goBack()" mat-raised-button name="back" value="back"
                    type="button">
                    Back
                </button>
              </mat-action-row>
          </div>
      </form>
  </div>

</mat-card>