<div>
  &nbsp;
</div>
<div class="row">
  <button mat-raised-button name="search" type="submit" (click)="onSearch()">
    Search
  </button>
</div>
<br>
<div class="mat-row">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="techName"> 
      <mat-header-cell *matHeaderCellDef>Tech Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.techName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userName"> 
      <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.userName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price"> 
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.price}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="linkedinUrl"> 
      <mat-header-cell *matHeaderCellDef>Linkedin URL</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.linkedinUrl}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mentorProfile"> 
      <mat-header-cell *matHeaderCellDef>Mentor Profile</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.mentorProfile}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expYear"> 
      <mat-header-cell *matHeaderCellDef>Exp Year</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.expYear}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action"> 
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="toAction(row)" name="update"  value="update">
          Study
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>